.menu a{
    color: #fff;
    font-weight: bold;
}

.menu a:hover{
    color: #4267b2;
    background-color: #fff;
}

.menu .active{
    text-decoration: underline;
}

.menu{
    background-color: #4267b2;
}